<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HR Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HR Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>Age</ion-label>
        <ion-input type="number" name="age" [(ngModel)]="age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Upper limit</ion-label>
        <ion-input type="number" name="upperLimit" readonly value="{{upperLimit | number : '1.1-2'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Lower limit</ion-label>
        <ion-input type="number" name="lowerLimit" readonly value="{{lowerLimit | number : '1.1-2'}}"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="normal" type="submit" class="ion-no-margin" (click)="calculate()">Calculate</ion-button>
    </div>
  </div>
</ion-content>
